# Data Analysis and Visualisation
## World Happiness Dataset

During five year period from 2015 to 2019 were collected data about World Happiness. The features that were choosen to reflect on nationes happines around the world are Economy, Health, Family, Goverment corruption etc. Whether these features god or bad in representing happines, and wheather they choosen wisely from point of psihology and basic definition of happines is matter of more serious deabate. As for me, I would say that they reflect more satisfaction with living in cearten part of the world or country than happines by its definition. Nevertheless it is interesting data set and here is represented what I have extracted from it. You can finde [*Data*](https://www.kaggle.com/unsdsn/world-happiness) here.

## Data cleaning and analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

First let's import csv files, for years that are available. Than I will enlist the column names for all years and tray to get them as uniform as it's possible across the datasets. This will make it easier to exam data and to marge them in one dataset.

In [2]:
df_15 = pd.read_csv('2015.csv')
df_16 = pd.read_csv('2016.csv')
df_17 = pd.read_csv('2017.csv')
df_18 = pd.read_csv('2018.csv')
df_19 = pd.read_csv('2019.csv')

In [3]:
df = [df_15, df_16, df_17, df_18, df_19]

for frames in df:
    print(frames.columns)
    print('/n')

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
/n
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
/n
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
/n
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
/n
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
/n

In [4]:
#drop columns across datasets that are different
col_name = ['Region', 'Standard Error', 'Dystopia Residual', 'Dystopia.Residual', 'Lower Confidence Interval', 'Upper Confidence Interval','Whisker.high',
       'Whisker.low', 'Social support']
for frame in df:
    for col in col_name:
        if col in frame:
            frame.drop(col, axis = 1, inplace = True)

In [5]:
for frame in df:
    print(frame.columns)
    print('/n')

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Generosity', 'Trust..Government.Corruption.'],
      dtype='object')
/n
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
/n
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
/n

In [6]:
#change names of columns in order to be uniform accros different datasets
for frame in df:
    frame.rename(columns = {'Country or region': 'Country', 'Happiness.Rank':'Happiness Rank','Overall rank':'Happiness Rank', 'Happiness.Score':'Happiness Score', 'Score':'Happiness Score', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 'GDP per capita':'Economy (GDP per Capita)', 'Health..Life.Expectancy.':'Health (Life Expectancy)', 'Healthy life expectancy':'Health (Life Expectancy)', 'Freedom to make life choices':'Freedom', 'Trust..Government.Corruption.':'Trust (Government Corruption)', 'Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [7]:
for frame in df:
    print(frame.columns)
    print('/n')

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity', 'Trust (Government Corruption)'],
      dtype='object')
/n
Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Generosity', 'Trust (Government Corruption)'],
      dtype='object')
/n
Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Generosity', 'Trust (Government Corruption)'],
      dtype='object')
/n

For reshaping datasets I will write a funcion reshape_frame.

In [8]:
for frame in df[2:]:
    frame_1 = frame['Generosity']
    frame.drop(columns = ['Generosity'], inplace = True)
    frame.insert(len(frame.columns), 'Generosity', frame_1)

In [9]:
def reshape_frame(df, column_name, pos):
    for frame in df:
        frame_1 = frame[column_name]
        frame.drop(columns = [column_name], inplace = True)
        frame.insert(pos, column_name, frame_1)

In [10]:
reshape_frame(df[3:], 'Happiness Rank', 1)

In [11]:
for frame in df:
    print(frame.columns)
    print('/n')

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
/n

In [12]:
df_15['Year'] = 2015
df_16['Year'] = 2016
df_17['Year'] = 2017
df_18['Year'] = 2018
df_19['Year'] = 2019

In [13]:
df_15.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [14]:
reshape_frame(df, 'Year', 1)

In [15]:
df_18.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Finland,2018,1,7.632,1.305,0.874,0.681,0.393,0.202
1,Norway,2018,2,7.594,1.456,0.861,0.686,0.340,0.286
2,Denmark,2018,3,7.555,1.351,0.868,0.683,0.408,0.284
3,Iceland,2018,4,7.495,1.343,0.914,0.677,0.138,0.353
4,Switzerland,2018,5,7.487,1.420,0.927,0.660,0.357,0.256

After all this preparation it's obvious that I can't create one dataset for all years, because there is no data for Family for 2018 and 2019 years, so either I must drop that column accros all datasets and loose maybe important data that show impact on happines score index or make two different datasets. In order to see Family data impact on happiness score I will leave it and create two different datasets. One for years 2015, 2016, 2017 and the other for the rest.

In [16]:
frames_1 =[df_15, df_16, df_17]
df1 = pd.concat(frames_1)

In [17]:
print(df_15.shape)
df1.shape

(158, 10)

(470, 10)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 470 entries, 0 to 154
Data columns (total 10 columns):
Country                          470 non-null object
Year                             470 non-null int64
Happiness Rank                   470 non-null int64
Happiness Score                  470 non-null float64
Economy (GDP per Capita)         470 non-null float64
Family                           470 non-null float64
Health (Life Expectancy)         470 non-null float64
Freedom                          470 non-null float64
Trust (Government Corruption)    470 non-null float64
Generosity                       470 non-null float64
dtypes: float64(7), int64(2), object(1)
memory usage: 40.4+ KB

In [19]:
df1.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
count,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000
mean,2015.993617,78.829787,5.370728,0.927830,0.990347,0.579968,0.402828,0.134790,0.242241
std,0.816907,45.281408,1.136998,0.415584,0.318707,0.240161,0.150356,0.111313,0.131543
min,2015.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,40.000000,4.509000,0.605292,0.793000,0.402301,0.297615,0.059777,0.152831
50%,2016.000000,79.000000,5.282500,0.995439,1.025665,0.630053,0.418347,0.099502,0.223140
75%,2017.000000,118.000000,6.233750,1.252443,1.228745,0.768298,0.516850,0.173161,0.315824
max,2017.000000,158.000000,7.587000,1.870766,1.610574,1.025250,0.669730,0.551910,0.838075

In [20]:
df1.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

After cleaning data let's make simple EDA (Exploratory data analysis), by using pairplot() function. Pairplot cames handy when we want to visualise given data in order to finde relationships between them, more precisely between two variables. We will use hue to make distinction between data collected during 3 different years and see how these data relate to eache other.

In [21]:
#sns.pairplot(df1, hue = 'Year') in order to see graph please remove #

In [22]:
df1.drop(columns = 'Family', inplace = True)
df1.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,2015,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811

In [23]:
frames_2 = [df1, df_18, df_19]
dfc = pd.concat(frames_2)
dfc.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,2015,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811

In [24]:
dfc.shape

(782, 9)

In [25]:
#sns.pairplot(dfc, hue = 'Year') in order to see graph please remove #

##  Data Visualisation

Let's find correlation between Happiness rank and other values.

In [26]:
corr_f = dfc.corr()
corr_f

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
Year,1.000000,-0.007768,0.007065,0.019768,0.130302,0.010353,-0.122264,-0.192587
Happiness Rank,-0.007768,1.000000,-0.992066,-0.794791,-0.743655,-0.537942,-0.372781,-0.117713
Happiness Score,0.007065,-0.992066,1.000000,0.789284,0.742456,0.551258,0.398418,0.137578
Economy (GDP per Capita),0.019768,-0.794791,0.789284,1.000000,0.784338,0.340511,0.306307,-0.014560
Health (Life Expectancy),0.130302,-0.743655,0.742456,0.784338,1.000000,0.340745,0.250512,0.010638
Freedom,0.010353,-0.537942,0.551258,0.340511,0.340745,1.000000,0.459593,0.290706
Trust (Government Corruption),-0.122264,-0.372781,0.398418,0.306307,0.250512,0.459593,1.000000,0.318920
Generosity,-0.192587,-0.117713,0.137578,-0.014560,0.010638,0.290706,0.318920,1.000000

In [27]:
#fig, ax = plt.subplots(figsize=(12, 6))
#ax = sns.heatmap(corr_f, annot = True, fmt = 'f', cmap = 'YlGnBu')

It is obvious that on nation happiness biggest impact have financial security that steams from high GDP or strong Economy, Health and a little less Freedom, while Trust (Goverment Corruption) and Generosity have less than 0.5 coefficient of correlation with Happines Score.

In [28]:
dfc.head(10)

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,2015,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811
5,Finland,2015,6,7.406,1.29025,0.88911,0.64169,0.41372,0.23351
6,Netherlands,2015,7,7.378,1.32944,0.89284,0.61576,0.31814,0.47610
7,Sweden,2015,8,7.364,1.33171,0.91087,0.65980,0.43844,0.36262
8,New Zealand,2015,9,7.286,1.25018,0.90837,0.63938,0.42922,0.47501
9,Australia,2015,10,7.284,1.33358,0.93156,0.65124,0.35637,0.43562

Since data used in this notebook are collected during 5 years I am interested how countries are ranked in different years?

In [29]:
dfc1 = dfc[['Country', 'Year', 'Happiness Rank']].groupby('Year').head(10)
dfc1

       Country  Year  Happiness Rank
0  Switzerland  2015               1
1      Iceland  2015               2
2      Denmark  2015               3
3       Norway  2015               4
4       Canada  2015               5
5      Finland  2015               6
6  Netherlands  2015               7
7       Sweden  2015               8
8  New Zealand  2015               9
9    Australia  2015              10
0      Denmark  2016               1
1  Switzerland  2016               2
2      Iceland  2016               3
3       Norway  2016               4
4      Finland  2016               5
5       Canada  2016               6
6  Netherlands  2016               7
7  New Zealand  2016               8
8    Australia  2016               9
9       Sweden  2016              10
0       Norway  2017               1
1      Denmark  2017               2
2      Iceland  2017               3
3  Switzerland  2017               4
4      Finland  2017               5
5  Netherlands  2017               6
6       Canada  2017               7
7  New Zealand  2017               8
8       Sweden  2017               9
9    Australia  2017              10
0      Finland  2018               1
1       Norway  2018               2
2      Denmark  2018               3
3      Iceland  2018               4
4  Switzerland  2018               5
5  Netherlands  2018               6
6       Canada  2018               7
7  New Zealand  2018               8
8       Sweden  2018               9
9    Australia  2018              10
0      Finland  2019               1
1      Denmark  2019               2
2       Norway  2019               3
3      Iceland  2019               4
4  Netherlands  2019               5
5  Switzerland  2019               6
6       Sweden  2019               7
7  New Zealand  2019               8
8       Canada  2019               9
9      Austria  2019              10

In [30]:
dfc2 = dfc1.groupby('Happiness Rank').head().sort_values('Happiness Rank')
dfc2

       Country  Year  Happiness Rank
0  Switzerland  2015               1
0      Finland  2018               1
0       Norway  2017               1
0      Finland  2019               1
0      Denmark  2016               1
1      Denmark  2017               2
1      Denmark  2019               2
1  Switzerland  2016               2
1      Iceland  2015               2
1       Norway  2018               2
2       Norway  2019               3
2      Iceland  2017               3
2      Denmark  2015               3
2      Iceland  2016               3
2      Denmark  2018               3
3  Switzerland  2017               4
3      Iceland  2019               4
3       Norway  2015               4
3      Iceland  2018               4
3       Norway  2016               4
4  Netherlands  2019               5
4  Switzerland  2018               5
4      Finland  2017               5
4       Canada  2015               5
4      Finland  2016               5
5      Finland  2015               6
5  Netherlands  2017               6
5  Netherlands  2018               6
5  Switzerland  2019               6
5       Canada  2016               6
6       Canada  2018               7
6  Netherlands  2016               7
6       Sweden  2019               7
6       Canada  2017               7
6  Netherlands  2015               7
7  New Zealand  2016               8
7  New Zealand  2017               8
7  New Zealand  2019               8
7  New Zealand  2018               8
7       Sweden  2015               8
8    Australia  2016               9
8       Sweden  2018               9
8       Sweden  2017               9
8       Canada  2019               9
8  New Zealand  2015               9
9    Australia  2018              10
9       Sweden  2016              10
9    Australia  2015              10
9    Australia  2017              10
9      Austria  2019              10

In [31]:
#fig, ax = plt.subplots(figsize = (12,6))
#ax = sns.barplot(x = 'Country', y ='Happiness Rank', hue = 'Year', data = dfc2)
#ax.set_xticklabels(ax.get_xticklabels(), rotation = 45) in order to see graph please remove #

In [32]:
dfc2.groupby(['Country']).mean().sort_values(by = 'Happiness Rank')

               Year  Happiness Rank
Country
Denmark      2017.0            2.20
Norway       2017.0            2.80
Iceland      2017.0            3.20
Finland      2017.0            3.60
Switzerland  2017.0            3.60
Netherlands  2017.0            6.20
Canada       2017.0            6.80
New Zealand  2017.0            8.20
Sweden       2017.0            8.60
Australia    2016.5            9.75
Austria      2019.0           10.00

From previous table data as well as from graph it's  obvious that best performed through obserbavle years is Denmark, that hold one of the first three position, year by year. Well done **Denmark**.

Let's see what is going on around less happiest countries

In [33]:
dfc3 = dfc[['Country', 'Year', 'Happiness Rank']].groupby('Year').tail(10)
dfc3

                      Country  Year  Happiness Rank
148                      Chad  2015             149
149                    Guinea  2015             150
150               Ivory Coast  2015             151
151              Burkina Faso  2015             152
152               Afghanistan  2015             153
153                    Rwanda  2015             154
154                     Benin  2015             155
155                     Syria  2015             156
156                   Burundi  2015             157
157                      Togo  2015             158
147                Madagascar  2016             148
148                  Tanzania  2016             149
149                   Liberia  2016             150
150                    Guinea  2016             151
151                    Rwanda  2016             152
152                     Benin  2016             153
153               Afghanistan  2016             154
154                      Togo  2016             155
155                     Syria  2016             156
156                   Burundi  2016             157
145                     Yemen  2017             146
146               South Sudan  2017             147
147                   Liberia  2017             148
148                    Guinea  2017             149
149                      Togo  2017             150
150                    Rwanda  2017             151
151                     Syria  2017             152
152                  Tanzania  2017             153
153                   Burundi  2017             154
154  Central African Republic  2017             155
146                    Malawi  2018             147
147                     Haiti  2018             148
148                   Liberia  2018             149
149                     Syria  2018             150
150                    Rwanda  2018             151
151                     Yemen  2018             152
152                  Tanzania  2018             153
153               South Sudan  2018             154
154  Central African Republic  2018             155
155                   Burundi  2018             156
146                     Haiti  2019             147
147                  Botswana  2019             148
148                     Syria  2019             149
149                    Malawi  2019             150
150                     Yemen  2019             151
151                    Rwanda  2019             152
152                  Tanzania  2019             153
153               Afghanistan  2019             154
154  Central African Republic  2019             155
155               South Sudan  2019             156

In [34]:
#fig,ax = plt.subplots(figsize= (10,6))
#ax = sns.countplot(x = 'Country', data = dfc3)
#ax.set_xticklabels(ax.get_xticklabels(), rotation = 45) in order to see graph please remove #

This graph show us how many times cearten country was amoungs 10 least happy countries during five year period. Rwanda and Syria hold one of the last teen position during all  years.

In [35]:
dfc4 = dfc3.groupby('Happiness Rank').head().sort_values('Happiness Rank')
dfc4

                      Country  Year  Happiness Rank
145                     Yemen  2017             146
146                     Haiti  2019             147
146                    Malawi  2018             147
146               South Sudan  2017             147
147                  Botswana  2019             148
147                     Haiti  2018             148
147                Madagascar  2016             148
147                   Liberia  2017             148
148                      Chad  2015             149
148                     Syria  2019             149
148                   Liberia  2018             149
148                    Guinea  2017             149
148                  Tanzania  2016             149
149                    Malawi  2019             150
149                     Syria  2018             150
149                      Togo  2017             150
149                    Guinea  2015             150
149                   Liberia  2016             150
150               Ivory Coast  2015             151
150                    Rwanda  2018             151
150                    Rwanda  2017             151
150                    Guinea  2016             151
150                     Yemen  2019             151
151              Burkina Faso  2015             152
151                     Syria  2017             152
151                    Rwanda  2016             152
151                    Rwanda  2019             152
151                     Yemen  2018             152
152                  Tanzania  2018             153
152                  Tanzania  2017             153
152                  Tanzania  2019             153
152               Afghanistan  2015             153
152                     Benin  2016             153
153               Afghanistan  2016             154
153                   Burundi  2017             154
153               Afghanistan  2019             154
153                    Rwanda  2015             154
153               South Sudan  2018             154
154                     Benin  2015             155
154  Central African Republic  2017             155
154  Central African Republic  2019             155
154                      Togo  2016             155
154  Central African Republic  2018             155
155                   Burundi  2018             156
155                     Syria  2015             156
155                     Syria  2016             156
155               South Sudan  2019             156
156                   Burundi  2015             157
156                   Burundi  2016             157
157                      Togo  2015             158

In [43]:
#sns.set_style('whitegrid')
#fig, ax = plt.subplots(figsize = (15,8))
#ax = sns.barplot(x = 'Country', y ='Happiness Rank', hue = 'Year', data = dfc4)
#ax.set_xticklabels(ax.get_xticklabels(), rotation = 45) in order to se graph please remove #

Data from bottom of the set are more diverse, that is whay we have more countries amoung the teen last positioned.

In [80]:
dfc4.groupby(['Country']).mean().sort_values(by = 'Happiness Rank', ascending = False)

                                 Year  Happiness Rank
Country
Burundi                   2016.500000      156.000000
Central African Republic  2018.000000      155.000000
Togo                      2016.000000      154.333333
Benin                     2015.500000      154.000000
Afghanistan               2016.666667      153.666667
Syria                     2017.000000      152.600000
South Sudan               2018.000000      152.333333
Rwanda                    2017.000000      152.000000
Burkina Faso              2015.000000      152.000000
Tanzania                  2017.500000      152.000000
Ivory Coast               2015.000000      151.000000
Guinea                    2016.000000      150.000000
Yemen                     2018.000000      149.666667
Liberia                   2017.000000      149.000000
Chad                      2015.000000      149.000000
Malawi                    2018.500000      148.500000
Madagascar                2016.000000      148.000000
Botswana                  2019.000000      148.000000
Haiti                     2018.500000      147.500000

According to previous table least happy nation in the world, for given years is Burundi. Most of the time it holds lowest Happines Rank positions.

In [81]:
#!conda install -c conda-forge folium=0.10.1 --yes
import folium

In [82]:
#pip install wget

In [83]:
import wget

In [36]:
#wget.download('https://www.datahub.io/core/geo-countries/r/countries.geojson') PLEASE REMOVE #
#print('GeoJSON file downloaded!')

In [85]:
#world_geo = r'countries.geojson'
#world_map = folium.Map(location=[0, 0], zoom_start=1, tiles='Mapbox Bright')

In [41]:
#world_map.choropleth(
    #geo_data=world_geo,
    #data=df_19,
    #columns=['Country', 'Happiness Score'],
    #key_on='properties.ADMIN',
    #fill_color='YlGnBu', 
    #fill_opacity=0.7, 
    #line_opacity=0.2,
    #legend_name= 'World Happiness'
#)

# display map
#world_map PLEASE REMOVE # in order to see map